<div class="content browserArea">
  <div class="browser">
    <div class="item dummy">
      <img src="/assets/128.png" alt="" id="icon1"><br>
      <label for="icon1">File One</label>
    </div>
    <div class="item dummy">
      <img src="/assets/128.png" alt="" id="icon2"><br>
      <label for="icon2">File Two</label>
    </div>
    <div class="item dummy">
      <img src="/assets/128.png" alt="" id="icon3"><br>
      <label for="icon3">File Three</label>
    </div>
    <div class="item dummy">
      <img src="/assets/128.png" alt="" id="icon4"><br>
      <label for="icon4">File Four</label>
    </div>
    <div class="item dummy">
      <img src="/assets/128.png" alt="" id="icon5"><br>
      <label for="icon5">File Five</label>
    </div>
    <div class="item dummy">
      <img src="/assets/128.png" alt="" id="icon6"><br>
      <label for="icon6">File Six</label>
    </div>
    <div class="item dummy">
      <img src="/assets/128.png" alt="" id="icon7"><br>
      <label for="icon7">File Seven</label>
    </div>
  </div>
</div>
