<div class="content browserArea">
  <div class="browser">
    <div class="item dummy">
      <div class="item-information">
        <img src="/assets/128.png" width='32' alt="" id="icon1">
        <label for="icon1">File One</label>
      </div>
      <div class="item-action">
        <div class="item-action-form">
          <form class="" action="" method="post">
            <button name="button">Download</button>
            <button name="button">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
