<div class="content browserArea">
  <div class="browser">
    <div class="item dummy">
      <div class="item-information">
        <img src="/assets/128.png" width='32' alt="" id="icon1">
        <label for="icon1">File One</label>
      </div>
      <div class="item-action">
        <div class="item-action-form">
          <button class="submit create ripple" name="button">Download</button>
          <button class="submit delete ripple" name="button">Delete</button>
        </div>
      </div>
    </div>
    <div class="item dummy">
      <div class="item-information">
        <img src="/assets/128.png" width='32' alt="" id="icon1">
        <label for="icon1">File Two</label>
      </div>
      <div class="item-action">
        <div class="item-action-form">
          <button class="submit create ripple" name="button">Download</button>
          <button class="submit delete ripple" name="button">Delete</button>
        </div>
      </div>
    </div>
    <div class="item dummy">
      <div class="item-information">
        <img src="/assets/128.png" width='32' alt="" id="icon1">
        <label for="icon1">File Three</label>
      </div>
      <div class="item-action">
        <div class="item-action-form">
          <button class="submit create ripple" name="button">Download</button>
          <button class="submit delete ripple" name="button">Delete</button>
        </div>
      </div>
    </div>
    <div class="item dummy">
      <div class="item-information">
        <img src="/assets/128.png" width='32' alt="" id="icon1">
        <label for="icon1">File Four</label>
      </div>
      <div class="item-action">
        <div class="item-action-form">
          <button class="submit create ripple" name="button">Download</button>
          <button class="submit delete ripple" name="button">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
