<!--The content below is only a placeholder and can be replaced.-->
<div class="header align-center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<div class="content outer">
  <div class="inner">
    <header>
      <h2>Here are some links to help you start: </h2>
    </header>
    <ul class="list">
      <li>
        <div class="card"><h3><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h3></div>
      </li>
      <li>
        <div class="card"><h3><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h3></div>
      </li>
      <li>
        <div class="card"><h3><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h3></div>
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
