<div class="contents">
  <p>Sign in</p>
  <form [formGroup]="loginForm" class="example-form" (submit)="CheckIfUserMatches(Usn.value, Pw.value)">
      <mat-form-field class="example-full-width">
        <input formControlName="Username" #Usn matInput placeholder="Username" type="text" required>
      </mat-form-field>  <br>
    
      <mat-form-field class="example-full-width">
        <input formControlName="Password" #Pw matInput placeholder="Password" type="password" required>
      </mat-form-field><br>
      <div class="error" *ngIf="IsWrong">
        <p>Username or Password is incorrect</p>
      </div>
         <input [disabled]="!loginForm.valid" type="submit" value="Submit" id="sub">
    </form>

  </div>