<div class="contents">
    <form class="example-form" (click)="RegisterUserData(Firstname.value,Lastname.value,Username.value,Email.value,Pw.value)">
        <mat-form-field class="example-full-width">
          <input #Firstname matInput placeholder="Firstname" type="text">
        </mat-form-field>  <br>
        <mat-form-field class="example-full-width">
          <input #Lastname matInput placeholder="Lastname" type="text">
        </mat-form-field>  <br>
        <mat-form-field class="example-full-width">
          <input #Username matInput placeholder="Username" type="text">
        </mat-form-field>  <br>
        <mat-form-field class="example-full-width">
          <input #Email matInput placeholder="Email" type="text">
        </mat-form-field>  <br>
        <mat-form-field class="example-full-width">
          <input #Pw matInput placeholder="Password" type="password">
        </mat-form-field><br>
           <input type="submit" placeholder="Submit" id="sub">
      </form>
    
    </div>