<div class="contents">
    <form [formGroup]="registerForm" class="example-form" (click)="RegisterUserData(Firstname.value,Lastname.value,Username.value,Email.value,Pw.value)">
        <mat-form-field class="example-full-width">
          <input formControlName="Firstname" #Firstname matInput placeholder="Firstname" type="text" required>
        </mat-form-field>  <br>
        <mat-form-field class="example-full-width">
          <input formControlName="Lastname" #Lastname matInput placeholder="Lastname" type="text" required>
        </mat-form-field>  <br>
        <mat-form-field class="example-full-width">
          <input formControlName="Username" #Username matInput placeholder="Username" type="text" required>
        </mat-form-field>  <br>
        <mat-form-field class="example-full-width">
          <input formControlName="Email" #Email matInput placeholder="Email" type="text" required>
        </mat-form-field>  <br>
        <mat-form-field class="example-full-width">
          <input formControlName="Password" #Pw matInput placeholder="Password" type="password" required>
        </mat-form-field><br>
           <input [disabled]="!registerForm.valid" type="submit" placeholder="Submit" id="sub">
      </form>
    
    </div>